# SheetDB API Endpoint for SUS Evaluation
# Format: https://sheetdb.io/api/v1/YOUR_ID
VITE_SHEETDB_API_URL=https://sheetdb.io/api/v1/r5zrljdn1fhbd

# Purge Cache Endpoint
VITE_SHEETDB_PURGE_URL=https://sheetdb.io/api/v1/r5zrljdn1fhbd/cache/purge/d78f88d7
